.container {
  max-width: 1000px;
  margin: 30px auto;
}


.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

button {
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  font-size: 18px;
  width: 15%;
  border: None;
  border-radius: 4px;
  position: relative;
  margin: 10px 30px;
  float: right;
}

button:hover {
  opacity: 0.9;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  float: left;
}

.locations {
  border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
  text-align: left;
  font-size: 18px;
  font-weight: 600px;
  margin: 10px 0px 0px 25px;
  position: relative;
}

.locations h4,
.amenities h4 {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  margin: 12px 0px 0px 23px;
}